.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.centered {
	text-align: center;
}

html {
    height: 100%;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
	font-family: "MS PGothic", Tahoma, Verdana;
}

button, input, select, textarea {
    font-family: "MS PGothic", Tahoma, Verdana;
}

main {
	flex: 1;
	display: flex;
	flex-direction: row;
}

main > * {
	padding: 10px;
	box-sizing: border-box;
}

main > section {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
}

main > section > h1,
main > section > p,
#blog-viewer {
    width: 100%;
}

main > section > form {
    flex: 1;
}

main > section:only-child {
    flex: 0 0 50%;
}

.error {
	color: red;
}

.info {
	color: rgb(0, 255, 0);
}

form {
	display: flex;
	flex-direction: column;

	outline: 2px grey inset;
	padding: 10px;
}

form > div, fieldset > div {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

fieldset {
	border: none;
	padding: 0px;
	margin: 0px;
}

textarea {
	resize: none;
}

footer {
    justify-content: center;
    display: flex;
	position: relative;
}

#footer-version {
	position: absolute;
    right: 10px;
	bottom: 10px;
    font-size: 12pt;
}

.footer-link {
	padding: 0px 10px 0px 10px;
}

#blog-viewer {
	display: flex;
	flex-direction: column;
}

#posts-container {
	display: flex;
	flex-direction: column;
}

.blog-post {
	display: flex;
	flex-direction: column;
	border: 3px double #e06fff;
	box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.6);
	background-color: #fffc9c;
	margin-bottom: 15px;
	padding: 5px;
}

.blog-post hr {
	color: darkgrey;
	width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.blog-header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	margin-bottom: 10px;
	align-items: center;
}

.blog-header > p {
	margin: 0px;
}

.blog-title {
	font-size: 30pt;
}

.blog-date {
	font-size: 15pt;
}

.blog-body {
	word-wrap: break-word;
	overflow-wrap: break-word;
	padding: 5px;
	box-sizing: border-box;
	margin: 0px;
}

.blog-body > * {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
	font-size: 20pt;
}

.blog-summary > * {
	font-size: 20pt;
}

.blog-body > *:first-child {
    margin-top: 0;
}

.blog-body > *:last-child {
    margin-bottom: 0;
}

details[open] p {
	margin: 5px 0px;
}

#load-posts-button-container {
	justify-content: center;
}

#load-posts-button {
	width: fit-content;
}