body {
    background-image: linear-gradient(rgba(0, 183, 179, 0.0), rgba(0, 183, 179, 0.1), rgba(0, 183, 179, 0.2), rgba(0, 183, 179, 0.2), rgba(0, 183, 179, 1.0)), url('resources/pixian_hat_tiled_upscaled.png');
    background-position: 0px 0px;
    background-repeat: repeat;
    image-rendering: pixelated;
    cursor: url('resources/pointer.png'), default;
	-webkit-font-smoothing: none;
	margin: 15px;
}

.nav-button, .button, a, a:-webkit-any-link {
	cursor: url('resources/hand.png'), pointer;
}

a, a:visited, a:hover, a:active {
	-webkit-text-fill-color: currentColor;
}

a:link {
	color: #e06fff;
}

a:visited {
	color: #a386fa;
}

a:hover {
	color: #eebbfc;
}

a.nav-button {
	color: black;
}

img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.container {
	border: 3px double #e06fff;
	padding: 10px 10px;
	box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.6);
	background-color: #fffc9c;
	max-width: 95vw;
}

.sub-container {
	background-color: #fffc9c;
	max-width: 95%;
}

.text {
	margin: 10px 10px;
 	font-size: 24px;
 	font-family: "PixiFontBDF", "PixiFontTTF", "Rockwell", "Arial";
  	-webkit-font-smoothing: none;
	-moz-osx-font-smoothing: none;
	text-rendering: optimizeSpeed;
	image-rendering: pixelated;
}

#ao3-story-view {
	word-wrap: break-word;
}

.ao3-text {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, sans-serif, "GNU Unifont"
}

.button {
  	border: 3px double #e06fff;
 	box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.4);
  	background-color: #fffc9c;
 	cursor: pointer;
}

.button:hover {
 	box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.6);
}

input {
 	border: 3px double #e06fff;
 	box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.4);
 	background-color: #fffc9c !important;
 	cursor: text;
 	text-align: center;
 	font-size: 24px;
	font-family: inherit;
}

input:focus {
	border: 3px double #a386fa;
  	outline: none;
  	box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.6);
}

.center-content {
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	text-align: center;
}

#welcome-div-top {
  	margin: 15px auto;
  	width: 50%;
  	max-width: 90%;
  	min-width: 50%;
  	background-color: #fffc9c;
}

#welcome-div-bottom {
  	margin: 0 auto;
}

#navbar {
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

.nav-button {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	background: linear-gradient(to top left, #42fda6, #4fa5a8);
  	width: 15vw;
  	padding: 10px 0px;
  	font-size: clamp(16px, 2vw, 32px);
  	text-decoration: none;
  	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  	flex-shrink: 1;
  	font-family: "PixiFontBDF", "PixiFontTTF"
}

.nav-selected {
  	box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.6);
  	text-decoration: underline;
  	margin-top: 0px;
}

.blog-title {
  	text-align: center;
  	font-size: 32px;
  	margin: 0px 4px;
}

.blog-date {
  	text-align: right;
  	margin: 0px 0px;
  	font-size: 16px;
}

#banner-container {
  	width: inherit;
  	overflow: hidden;
  	position: relative;
}

#banner {
  	width: 100%;
  	height: 100%;
  	object-fit: cover;
  	object-position: top;
}

#gallery {
  	display: block;
}

#gallery-fixer {
  	border: 1px dashed black;
  	display: flex;
  	background: #8ea7a7;
  	flex-wrap: wrap;
}

.gallery-image {
  	max-width: 20%;
}

@font-face {
    font-family: 'PixiFontTTF';
    src: url('resources/PixiFont.ttf') format('truetype');
}

table {
  	width: 100%;
  	border-collapse: collapse;
  	margin: 20px 0;
}
        
th, td {
  	padding: 12px;
  	text-align: left;
  	border-bottom: 1px solid #ddd;
}

.site-button-container {
  	display: flex;
 	flex-wrap: wrap;
 	height: fit-content;
}

.site-button {
  	align-items: center;
	width: 88px;
  	height: 31px;
  	display: table-row;
}

/* Absolute css fuckery */

.site-button > div > div {
  	display: none;
}

.site-button > div > a {
  	display: inline-block;
}

.slut img {
	width: 50px;
	height: 50px;
}

#comic-container {
	width: 940px;
	background-color: #c6c6c6;
}

#comic-header {
	width: 940px;
	height: 24px;
	background-color: #535353;
}

.comic-header a {
	padding: 0px;
	margin: 0px;
}

.link-disabled {
	pointer-events: none;
	color: grey;
	text-decoration: none;
}